<!DOCTYPE html>
<html lang="en" data-ng-app="mainModule">
	<head>
		<!-- META -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width = device-width, initial-scale = 1">		
		
		<!-- BOOTSTRAP -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
			crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
			integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
			crossorigin="anonymous">
		
		<!-- CSS Files -->
		<link rel="stylesheet"
			href="./css/main.css">
	</head>
	<body>
		<!-- NAVBAR -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Netzwerk Manager</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="text" data-ng-model="username" placeholder="Username" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" data-ng-model="password" placeholder="Password" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Login</button>
					</form>
				</div>
			</div>
		</nav>
		
		<!-- CONTENT -->
		<div class="container-fluid">
			<div class="row">
				<!-- SIDEBAR -->
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="#">Overview</a></li>
					</ul>
					
					<ul class="nav nav-sidebar">
						<li><a href="#">IP Addresses</a></li>
						<li><a href="#">Network Pools</a></li>
						<li><a href="#">known Computers</a></li>
					</ul>
				</div>
			
				<!-- MAIN -->
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<!-- Placeholder for the Partials -->
					<div data-ng-view></div>
				</div>
			</div>
		</div>
		
		<!-- needed JavaScript Code -->
		<script src="/app/app.js"></script>
		<script src="/app/controllers/controllers.js"></script>
		
		<!-- ANGULARJS -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"
			integrity="sha384-BPMnzv7+uWH6t3p3zaT3Qj/ckYZnlZepRTJeBRHfBGRBrHhQ2CX19al1HozjDv7r"
			crossorigin="anonymous"></script>
		
		<!-- JQUERY -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="http://code.jquery.com/jquery-2.2.1.min.js"
			integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
			crossorigin="anonymous"></script>
		
		<!-- BOOTSTRAP -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
			crossorigin="anonymous"></script>
	</body>
</html>
