<div class="view">
	<div class="container">
		<h1 class="page-header">Computer List</h1>
		<div class="row">
			<div class="span12">
				<table class="table table-hover table-condensed table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>MAC</th>
							<th>Name</th>
							<th>Location</th>
							<th>Type</th>
							<th>Function</th>
							<th>Manager</th>
						</tr>
						<tr>
							<th></th>
							<th><input type="text" placeholder="Search:" class="input-block-level" data-ng-model="search.mac"></th>
							<th><input type="text" placeholder="Search:" class="input-block-level" data-ng-model="search.name"></th>
							<th><input type="text" placeholder="Search:" class="input-block-level" data-ng-model="search.location"></th>
							<th><input type="text" placeholder="Search:" class="input-block-level" data-ng-model="search.type"></th>
							<th><input type="text" placeholder="Search:" class="input-block-level" data-ng-model="search.function"></th>
							<th><input type="text" placeholder="Search:" class="input-block-level" data-ng-model="search.manager"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="computer in computers | filter:search:false" data-ng-class="{'danger':computer.production == '1'}">
							<td>{{ $index + 1 }}</td>
							<td>{{computer.mac}}</td>
							<td>{{computer.name}}</td>
							<td>{{computer.location}}</td>
							<td>{{computer.type}}</td>
							<td>{{computer.function}}</td>
							<td>{{computer.manager}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>